In [1]:
# Importing libraries
from sqlalchemy import create_engine # For database connection
from sqlalchemy import text # for query text
import pandas as pd # storing data into a dataframe

In [2]:
# create_engine('postgresql://<username>:<password>@<host>:<port>/<database>')
engine = create_engine('postgresql://test:test@localhost:5432/crypto-database-project')

In [ ]:
# Query 1
query = "SELECT id, name, email FROM customer WHERE joinDate > 20150505"
df = pd.read_sql(query, engine)
print(df)

In [ ]:
# Query 2
query = "SELECT customerID, SUM(amount) AS total_volume FROM Transactions GROUP BY customerID"
df = pd.read_sql(query, engine)
print(df)

In [ ]:
# Query 3
query = "SELECT * FROM Transactions WHERE amount > 750 AND status = 'Completed'"
df = pd.read_sql(query, engine)
print(df)

In [ ]:
# Query 4
query = "SELECT AVG(percentChange7d) AS average_change_7_days FROM Cryptocurrency"
df = pd.read_sql(query, engine)
print(df)

In [ ]:
# Query 5
query = "SELECT c.id, c.name FROM customer AS c JOIN transactions AS t ON c.id = t.customerid WHERE t.timestamp < 20240113235959 AND t.timestamp > 20240111000000"
df = pd.read_sql(query, engine)
print(df)

In [ ]:
# Query 6
query = "SELECT c.bankname, SUM(t.amount) AS total_bought FROM customer c JOIN transactions t ON c.id = t.customerid WHERE t.type = 'Deposit' GROUP BY c.bankname"
df = pd.read_sql(query, engine)
print(df)

In [ ]:
# Query 7
query = "SELECT * FROM Customer WHERE CreditScore > 670 AND joinDate > 20150101"
df = pd.read_sql(query, engine)
print(df)

In [ ]:
# Query 8
query = "SELECT currency, type, COUNT(*) AS transaction_count FROM transactions GROUP BY currency, type"
df = pd.read_sql(query, engine)
print(df)

In [ ]:
# Query 9
query = "SELECT name, (currentvalue * amountown) as portfolio_value FROM portfolio ORDER BY portfolio_value DESC"
df = pd.read_sql(query, engine)
print(df)

In [ ]:
# Query 10
query = "SELECT name, cryptoname, currentvalue FROM portfolio ORDER BY currentvalue DESC"
df = pd.read_sql(query, engine)
print(df)